.placeholder::-webkit-input-placeholder {
  color: #5a5a5a;
}

.placeholder::-moz-placeholder {
  color: #5a5a5a;
}

.placeholder:-moz-placeholder {
  color: #5a5a5a;
}

.placeholder:-ms-input-placeholder {
  color: #5a5a5a;
}

.placeholder:focus::-webkit-input-placeholder {
  color: transparent;
}

.placeholder:focus::-moz-placeholder {
  color: transparent;
}

.placeholder:focus:-moz-placeholder {
  color: transparent;
}

.placeholder:focus:-ms-input-placeholder {
  color: transparent;
}

.placeholder:focus {
  outline: none;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

b, strong {
  font-weight: 700;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #000;
  background: #1c1c1c;
}

.wrap {
  position: relative;
  width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

section {
  margin: 50px 0;
}

button,
textarea,
input {
  font-family: 'Museo Sans', sans-serif;
}

/*   video   */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: #333;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m-button {
  display: block;
  background: #ff5a00;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Proxima Nova', sans-serif;
  padding: 0 20px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.m-button i {
  font-size: 0.8em;
  font-style: normal;
  text-transform: uppercase;
}

.m-button--mini {
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.m-button--big {
  width: 360px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  padding: 0 20px;
}

h2.title span {
  color: #ff5a00;
}

h2.title span.gray {
  color: #a3a3a3;
}

h2.title--margin {
  margin-bottom: 30px;
}

.sub-title {
  color: #ff5a00;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 15px;
}

/*   offer   */

.offer__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  padding: 0 20px;
}

.offer__head--bottom {
  justify-content: center;
  height: auto;
  padding: 35px 20px 30px;
}

.offer__head--shadow {
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 13px rgba(0, 0, 0, .15);
}

.offer__title {
  font-family: 'Yaro Rg', sans-serif;
  font-size: 28px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: 900;
}

.offer__title--big {
  font-size: 50px;
  text-align: center;
}

.offer__title span {
  display: block;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: .7px;
  text-transform: none;
}

.offer__title--big span {
  font-size: 19px;
}

.offer__box {
  position: relative;
}

.offer__box--hit:after {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -55px;
  display: block;
  background: url("../png/hit.png") 0 0 no-repeat;
  width: 106px;
  height: 166px;
  content: '';
}

.offer__image {
  display: block;
}

.offer__bullet {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  width: 350px;
  font-size: 15px;
  line-height: 120%;
}

.offer__bullet:before {
  flex-shrink: 0;
  display: block;
  width: 54px;
  height: 54px;
  background: url("../png/icon1.png") 50% 50% no-repeat #00b7a7;
  border-radius: 50%;
  margin-right: 10px;
  content: '';
}

.offer__bullet b{
  display: block;
}


.benef_item{
  position: absolute;
  top: 140px;
  left: 10px;
}

/*   s1   */

.s1 {
  margin-top: 15px;
}

.s1 h2.title{
  font-size: 32px;
  text-transform: uppercase;
}

.s1__box {
  display: flex;
  justify-content: space-between;
}

.s1__product {
  display: block;
  margin-top: -10px;
}

.bullet {
  margin-right: 10px;
  margin-left: 10px;
}

.bullet__item {
  position: relative;
  padding-left: 25px;
  font-size: 17px;
  line-height: 120%;
}

.bullet__item:before {
  position: absolute;
  left: -5px;
  top: -10px;
  display: block;
  background: url("../png/check-icon.png") 0 0 no-repeat;
  width: 28px;
  height: 31px;
  content: '';
}

.bullet__item:not(:last-child) {
  margin-bottom: 30px;
}

/*   order   */

.order {
  background: #cfeae9;
  padding: 20px 0;
  margin: 30px 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 21px rgba(0, 0, 0, .21);
}

.order--bottom {
  margin-top: 30px;
  margin-bottom: 40px;
}

.order__product {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.order__product img {
  display: block;
  width: 146px;
  border-radius: 6px;
  box-shadow: 0 0 21px rgba(76, 76, 76, .23);
  margin: 0 20px;
}

.order__text {
  font-family: 'Proxima Nova', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.order__text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.order__text p {
  font-size: 20px;
  line-height: 120%;
}

/*   price   */

.price {
  display: flex;
  justify-content: center;
  font-family: 'Proxima Nova', sans-serif;
  background: url("../png/price-arrow.png") 50% 50% no-repeat;
}

.price__item {
  width: 50%;
}
.price__item:first-child{
  padding-right: 35px;
  text-align: right;
}
.price__item:last-child{
  padding-left: 35px;
  text-align-last: left;
}

.price__label {
  font-size: 14px;
  margin-bottom: 3px;
}

.price__value {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

.price__value--old {
  text-decoration: line-through;
}

.price__value--new {
  color: #ff5a00;
}

/*   m1-form   */

.m1-form {
  padding: 0 40px;
  margin-top: 30px;
}

.m1-form__input {
  display: block;
  width: 100%;
  height: 70px;
  color: #000;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #fb1945;
  border-radius: 6px;
  margin-bottom: 15px;
}

.m1-form .m-button {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
}

.date-sale {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin-top: 15px;
}

.description {
  padding: 50px 0;
}

.description .title span{
  display: block;
  color: #ff5a00;
  font-size: 43px;
}

.description__box {
  background: #e6e4e5;
  margin-top: 40px;
}

.description__photo {
  display: block;
  margin-bottom: 25px;
}

.description p {
  font-size: 20px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 25px;
}

video.video {
  display: block;
  width: 100%;
}

.result {
  display: flex;
  background: url("../jpg/result.jpg") 50% 0 no-repeat;
  width: 480px;
  height: 293px;
}

.result > span {
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.description .alert{
  background: #bd2117;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
  padding: 15px 10px;
}

.result > span:nth-child(1) {
  padding-right: 30px;
}

.result > span:nth-child(2) {
  padding-left: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em;
}

.gif {
  margin-bottom: 20px;
}

.gif img {
  display: block;
  margin-bottom: -30px;
}

.gif .m-button{
  position: relative;
}

.blogger__box {
  position: relative;
  background: url("../jpg/blogger-bg.jpg") 50% 0 no-repeat;
  height: 712px;
  padding-top: 15px;
}

.blogger__hit {
  font-size: 30px;
  font-weight: 700;
  color: #fb1945;
  line-height: 100%;
  text-align: center;
  margin-top: 20px;
}

.blogger__hit span {
  display: inline-block;
  height: 54px;
  line-height: 44px;
  padding: 0 40px;
  border: 5px solid #fb1945;
  border-radius: 27px;
}

.blogger__text {
  position: absolute;
  top: 315px;
  right: 0;
  width: 120px;
  font-size: 16px;
  line-height: 130%;
}

.blogger__quote {
  position: absolute;
  left: 20px;
  top: 485px;
  width: 400px;
  font-size: 18px;
  line-height: 140%;
}

/* specialist_block */
.specialist_block .title{
  font-size: 43px;
}
.spec_author{
  background: url(../jpg/spec_author.jpg) 50% 0 no-repeat;
  min-height: 346px;
  padding-bottom: 50px;
}
.spec_author .text{
  padding: 90px 10px 0 285px;
}
.spec_author .text:after{
  content: '';
  width: 89px;
  height: 29px;
  background: url(../png/signature.png);
  display: block;
  margin: 15px 0 0;
}
.spec_author .text h4{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3em;
  margin-bottom: 10px;
}
.spec_author .text p{
  font-size: 16px;
  line-height: 1.4em;
}

.spec_text{
  max-width: 450px;
  margin: -50px auto 0;
  background: #cfeae9;
  position: relative;
  padding: 25px 20px;
  border-radius: 10px;
  position: relative;
  line-height: 1.3em;
}
.spec_text p{
  margin-bottom: 20px;
}
.spec_text p:last-child{
  margin-bottom: 0;
}
.spec_text:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #cfeae9 transparent;
  position: absolute;
  top: -19px;
  left: 45px;
}

.spec_certificate{
  display: flex;
  padding: 0 10px;
  margin-top: 20px;
}
.spec_certificate img{
  flex-shrink: 0;
}
.spec_certificate .text{
  color: #044483;
  font-size: 14px;
  line-height: 1.3em;
  padding-left: 10px;
}
.spec_certificate .text b{
  text-transform: uppercase;
}
.spec_certificate .text img{
  display: block;
  margin: 0 0 15px;
}
.specialist_block .m-button{
  margin-top: 15px;
}


/*   benefits   */
.benefits {
  padding: 50px 0;
}

.benefits__list {
  margin-bottom: 40px;
}

.benefits__item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 35px;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item:nth-child(odd) .benefits__image {
  margin-right: 20px;
}

.benefits__item:nth-child(even) .benefits__image {
  order: 2;
  margin-left: 20px;
}

.benefits__image {
  flex-shrink: 0;
  display: block;
  width: 194px;
  border-radius: 50%;
  box-shadow: 0 10px 35px rgba(157, 154, 154, .7);
}

.benefits__text {
  font-size: 20px;
  line-height: 28px;
}

.benefits__text>p>b{
  text-transform: uppercase;
  display: block;
}


/*   reviews   */

.reviews {
  margin-bottom: 50px;
}

.reviews__list {
  padding: 0 50px;
}

.reviews__item {
  background: #fff;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0 0 21px rgba(157, 157, 157, .6);
  padding: 25px 20px;
}

.rev_author{
  display: flex;
  align-items: center;
}
.rev_author > img {
  border-radius: 50%;
  flex-shrink: 0;
}
.rev_author p{
  font-size: 18px;
  line-height: 1.3em;
  padding-left: 20px;
}
.rev_author p b{
  display: block;
}

.rev_img_list{
  display: flex;
}
.rev_img_list img{
  border-radius: 15px;
}

.reviews__text {
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
}

.reviews__text img {
  display: block;
}


/*   order-steps   */
.order-steps {
  min-height: 895px;
}

.order-steps .sub-title{
  font-size: 28px;
  color: #7bb700;
}

.order-steps__list {
  padding: 0 20px;
  margin: 80px 0 0;
}

.order-steps__item {
  display: flex;
  align-items: center;
  min-height: 165px;
  position: relative;
  background: #fff;
  margin-bottom: 70px;
  border-radius: 20px;
  box-shadow: 0 6px 35px rgba(0, 0, 0, .14);
}

.order-steps__num {
  position: absolute;
  left: calc(50% - 30px);
  top: -30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: #7bb700;
  text-align: center;
  border-radius: 50%;
}

.order-steps__left {
  flex-shrink: 0;
  width: 170px;
}

.order-steps__left--padding {
  padding-left: 15px;
}

.order-steps__left > img {
  display: block;
}

.order-steps__button {
  position: relative;
}

.order-steps__button:after {
  position: absolute;
  right: 10px;
  bottom: -40px;
  display: block;
  background: url("../png/cursor.png") 0 0 no-repeat;
  width: 40px;
  height: 50px;
  content: '';
}

.order-steps__text {
  flex-grow: 1;
  font-size: 19px;
  line-height: 26px;
  padding: 15px;
}

.order-steps__item:nth-child(3){
  background: url(../jpg/order2.jpg) 0% 50% no-repeat;
}

.offer__title b{
  color: #ff5a00;
}



.bottom .offer__box--hit:after{
  bottom: 0;
}

.order.order--bottom{
  margin-top: -30px;
  position: relative;
}


/*   footer   */

.footer {
  background: #f1f1f1;
  padding: 40px 0;
}

.footer__image {
  display: block;
  margin: 0 auto 15px;
}

.footer__links {
  text-align: center;
}

.footer__links p:not(:last-child) {
  margin-bottom: 5px;
}

.footer__links a {
  font-size: 17px;
  color: #1c1c1c;
  text-decoration: none;
}