

@font-face {
font-family: 'MuseoSansCyrl300';
font-style: normal;
font-weight: normal;
src: local('../fonts/MuseoSansCyrl300'), url('../gz/museosanscyrl_300.gz')/*tpa=http://pl3.slim4vit.com/fonts/MuseoSansCyrl_300.woff*/ format('woff');
}


@font-face {
  font-family: 'PeaceSans';
  src: url('../gz/peacesans.gz')/*tpa=http://pl3.slim4vit.com/fonts/PeaceSans.otf*/  format('opentype'),
	     url('../gz/peacesans-2.gz')/*tpa=http://pl3.slim4vit.com/fonts/PeaceSans.woff*/ format('woff'), url('../gz/peacesans-3.gz')/*tpa=http://pl3.slim4vit.com/fonts/PeaceSans.ttf*/  format('truetype');
  font-weight: normal;
  font-style: normal;
}

