.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;
}

.form form {
  width: 300px;
}

.form .img {
  width: 250px;
}

.form .img img {
  width: 100%;
}

.form form input, textarea {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0px auto 16px;
  border: 1px solid rgb(231, 231, 231);
  background: rgb(248, 249, 249) none repeat scroll 0% 0%;
  border-radius: 3px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding-left: 15px;
  height: 40px;
}

.form form button, .btn3 {
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 15px 10px;
  background: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  max-width: 250px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.form form button:hover, .btn3:hover {
  transform: scale(1.1);
  background: red;
  color: #fff;
  text-decoration: none;
}

.form form .prices {
  width: 100%;
  text-align: center;
  font-size: 0px;
  margin: 0px 0px 15px;
}

.form form .prices .new {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  text-transform: uppercase;
  margin: 5px;
  color: red;
  font-weight: 700;
}

.form form .prices .new p {
  font-size: 24px;
  margin: 0 auto;
  color: red;
}

.form form .prices .old {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  color: rgb(178, 178, 178);
  margin: 5px;
}

.form form .prices .old p {
  font-size: 16px;
  margin: 0 auto;
  color: rgb(178, 178, 178);
}

.toForm {
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .form { width: 100%; flex-direction: column; padding: 20px 0px; }
  .form .img { padding: 20px 0px; }
}

@media all and (max-width: 400px) {
  .form .img { width: 100%; }
  .form form input, .form form button { width: 100%; }
}